*.o
_build
/monpoly.install

*~
\#*\#

/thys/*/*.ocaml

trigger-performance-evaluation/experiments/
trigger-performance-evaluation/asymptotic-experiments-*/
trigger-performance-evaluation/asymptotic-experiments-rewritten/
trigger-performance-evaluation/asymptotic-experiments-constant-interval/
trigger-performance-evaluation/asymptotic-experiments-fraction-interval/